<nav>
  <div class="nav-wraper grey darken-1">
    <a routerLink="/" class="brand-logo">Liski.online </a>
    <ul id="nav-mobile" class="right ">
      <li routerLinkActive="active">
        <a routerLink="/login">Enter</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/register">Sing in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="info-block">
  <div class="box">

    <h5>Site is under construction.</h5>
    <h4>
      <br>Some functions
      <br>are already available now,
      <br>but feel free to
      <br>visit us later.</h4>

  </div>
</div>


<div class="auth-block">
  <router-outlet></router-outlet>
</div>



