<nav>
  <div class="nav-wraper grey darken-1">
    <a routerLink="/" class="brand-logo">
      <div class="online">Liski.online</div>
    </a>
    <ul id="nav-mobile" class="right ">
      <li routerLinkActive="active">
        <a routerLink="/login">Enter</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/register">Sing in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="info-block">
  <div class="box">

    Site is under construction.
    <br>Some functions are already available now,
    <br>but feel free to visit us later.
    <br>
    <br> Use login: dev@gmail.co
    <br> Password: 12345678

  </div>
</div>


<div class="auth-block">
  <router-outlet></router-outlet>
</div>


<!--adSense google-->
<div class="add-block">
  <div class="add-box">
   Тут может быть ваша реклама
    <script data-ad-client="ca-pub-1234567890123456"
            async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
  </div>
</div>

